<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Despesas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu side="start" content-id="main-content">
    <ion-content>
      <ion-list>

        <ion-item>
          <ion-icon name="home-outline" slot="start"></ion-icon>
              <ion-button fill="undefined" routerLink="/home" > Home </ion-button>
        </ion-item>
        
        <ion-item>
          <ion-icon name="cash-outline" slot="start"></ion-icon>
              <ion-button fill="undefined" routerLink="/despesas" > Minhas Despesas </ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="car-sport-outline" slot="start"></ion-icon>
              <ion-button fill="undefined" routerLink="/vehicles" > Meus Carros </ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="exit" slot="start"></ion-icon>
            <ion-button fill="undefined" routerLink="/login" > Log out </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-button  routerLink="/despesas/new-despesa" id="botao" expand="block">
    Cadastrar Despesa
    <ion-icon  slot="end" name="add-circle-outline"></ion-icon>
  </ion-button>

  <ion-list>
    <ion-item>
      <ion-label>Conta de Agua</ion-label>
      <ion-button size="small" color="warning">Editar</ion-button>
      <ion-button size="small" color="danger">Excluir</ion-button>
    </ion-item>
  </ion-list> 

</ion-content>

