<ion-content>

</ion-content>
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Visualizar Despesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item-group>
          <ion-item-divider>
              <ion-label id="label">Descrição:</ion-label>
          </ion-item-divider>

          <ion-item-divider>
              <ion-label id="label">Valor:</ion-label>
          </ion-item-divider>
      </ion-item-group>

  </ion-list>

  <div id="buton">
      <ion-button color="warning">Editar</ion-button>
      <ion-button (click)="presentAlertConfirm()" color="danger">Excluir</ion-button>
  </div>
</ion-content>