<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{vehicle?.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
    <ion-grid class="ion-margin">
        <ion-row>
            <ion-col>Marca</ion-col>
            <ion-col>Ano</ion-col>
            <ion-col>Preço Fipe</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>{{vehicle?.brand}}</ion-col>
            <ion-col>{{vehicle?.modelYear}}</ion-col>
            <ion-col>{{vehicle?.priceFipe}}</ion-col>
        </ion-row>
    </ion-grid>

    <ion-item lines="none">
        <ion-button color="primary" size="small" slot="end" routerLink="/material">
            Nova Despesa
        </ion-button>
    </ion-item>
</ion-content>
