<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Palio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">

    <ion-item *ngFor="let expense of expenses">
        <ion-label [routerLink]="['/despesas/expense/' + expense.id]" routerLinkActive="router-link-active">{{expense.description}}</ion-label>
        <ion-button size="small" color="warning">Editar</ion-button>
        <ion-button size="small" color="danger">Excluir</ion-button>
    </ion-item>

    <ion-item lines="none">
        <ion-button color="primary" size="expand" routerLink="/material">
            Nova Despesa
        </ion-button>
    </ion-item>
</ion-content>
