<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Palio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
    <ion-grid class="ion-margin">
        <ion-row>
            <ion-col>Descrição</ion-col>
            <ion-col>Valor</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Troca de oleo</ion-col>
            <ion-col>R$150</ion-col>
        </ion-row>
    </ion-grid>

    <ion-item lines="none">
        <ion-button color="primary" size="small" slot="end" routerLink="/material">
            Nova Despesa
        </ion-button>
    </ion-item>
</ion-content>
