<ion-header>
    <ion-toolbar>
        <ion-title>Cadastrar Despesa</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="submit()" [formGroup]="contaForm">
        <ion-card-content>

            <ion-item>
                <ion-label position="stacked">Descrição</ion-label>
                <ion-select value="" okText="Confirmar" cancelText="Cancelar" placeholder="Selecione uma opção">
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Valor</ion-label>
                <ion-select value="" okText="Confirmar" cancelText="Cancelar" placeholder="Selecione uma opção">
            </ion-item>
        </ion-card-content>
        <ion-item>
            <ion-label position="stacked">Carro</ion-label>
            <ion-select value="" okText="Confirmar" cancelText="Cancelar" placeholder="Selecione uma opção">
                <ion-select-option value="carros">-----------</ion-select-option>
                <ion-select-option value="motos">Carro</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button expand="block" color="warning" (click)="clean()">
                        Limpar
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="block" color="success" type="submit">
                        Cadastrar
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>