<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Nova Despesa</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-menu side="start" content-id="main-content">
        <ion-content>
          <ion-list>
    
            <ion-item>
              <ion-icon name="home-outline" slot="start"></ion-icon>
                  <ion-button fill="undefined" routerLink="/home" > Home </ion-button>
            </ion-item>
            
            <ion-item>
              <ion-icon name="cash-outline" slot="start"></ion-icon>
                  <ion-button fill="undefined" routerLink="/despesas" > Minhas Despesas </ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="car-sport-outline" slot="start"></ion-icon>
                  <ion-button fill="undefined" routerLink="/vehicles" > Meus Carros </ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="exit" slot="start"></ion-icon>
                <ion-button fill="undefined" routerLink="/login" > Log out </ion-button>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
    <form (ngSubmit)="submit()" [formGroup]="despesaForm">
        <ion-card-content>
            <ion-item>
                <ion-label position="stacked">Valor</ion-label>
                <ion-input type="number" value="" placeholder="Escreva o Valor"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Descrição</ion-label>
                <ion-input type="text" value="" placeholder="Escreva a Descrição"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Veiculo</ion-label>
                <ion-select value="livre" okText="Confirmar" cancelText="Cancelar" placeholder="Selecione uma opção">
                    <ion-select-option value="livre">Despesa Livre</ion-select-option>
                    <ion-select-option value="motos">BMW-A4</ion-select-option>
                    <ion-select-option value="caminhoes">FUSCA</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-card-content>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button expand="block" color="warning" (click)="clean()">
                        Limpar
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="block" color="success" type="submit">
                        Cadastrar
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>