<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Visualizar Venda</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-group>
            <ion-item-divider>
                <ion-label id="label">Veiculo: {{saleVehicle?.vehicle.name}}</ion-label>
            </ion-item-divider>
            <ion-item-divider>
                <ion-label id="label">Valor: R$ {{saleVehicle?.saleValue}}</ion-label>
            </ion-item-divider>

        </ion-item-group>

    </ion-list>

</ion-content>