<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Visualizar veiculo</ion-title>
    </ion-toolbar>
</ion-header>



<ion-content>
    <ion-list>
        <ion-item-group>

            <ion-item-divider>
                <ion-label id="label">Marca: {{vehicle?.brand}}</ion-label>
            </ion-item-divider>

            <ion-item-divider>
                <ion-label id="label"> Modelo: {{vehicle?.name}}</ion-label>
            </ion-item-divider>

            <ion-item-divider>
                <ion-label id="label"> Ano: {{vehicle?.modelYear}}</ion-label>
            </ion-item-divider>

            <ion-item-divider>
                <ion-label id="label">Valor: {{vehicle?.priceFipe}}</ion-label>
            </ion-item-divider>
        </ion-item-group>

    </ion-list>

    <div id="buton">
        <ion-button color="warning">Editar</ion-button>
        <ion-button (click)="presentAlertVenda()" color="success">Vender</ion-button>
    </div>

    <ion-list>
        <ion-item>
            <ion-label id="label2">Despesas:</ion-label>
            <ion-button size="small" color="primary" [routerLink]="['/despesas/new-expense-vehicle/' + vehicle?.id]" routerLinkActive="router-link-active">Nova Despesa</ion-button>
        </ion-item>

        <ion-item *ngFor="let expenseVehicle of expensesVehicle">
            <ion-label [routerLink]="['/despesas/vehicle-expenses/' + expenseVehicle.id]" routerLinkActive="router-link-active">{{expenseVehicle.description}}</ion-label>
            <ion-button size="small" color="warning">Editar</ion-button>
            <ion-button (click)="presentAlertConfirm()" size="small" color="danger">Excluir</ion-button>
        </ion-item>
    </ion-list>
</ion-content>